body { background-color: black; color: #ccc; }
.nmrate button { background-color: black; color: #ccc; border: none; }
.nmrate button:active { color: #888; }
.nmrate select { background-color: black; color: #ccc; border: none; }
.nmrate input { background-color: black; color: #ccc; border: none; }
.nmrate input.imag_wnd { width: 32px; margin-left: 10px; }
.nmrate canvas { image-rendering: pixelated; }
.nmrate button.off { color: #555; }